<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
    <div id="logo"><h1><a th:href="@{/}">Cybercentrum</a></h1></div>
    <div id="menu">
        <ul>
            <li><a th:href="@{/}">Strona główna</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/dashboard}">Dashboard</a></li>

        </ul>
    </div>
</header>
<div th:fragment="secondaryContent" id="secondaryContent">
    <h3>Moje konto</h3>
    <p>Niezalogowany</p>

</div>

<footer th:fragment="footer">
    <p>Cybercentrum &copy; 2024 Sebastian Kałuża</p>Designed by <a href="http://www.freecsstemplates.org">Free CSS Templates</a></p>
</footer>
</body>
</html>
