<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/head :: head}"></th:block>
<body>
<th:block th:replace="~{fragments/fragments :: header}"></th:block>
    <div id="content">
        <div id="primaryContentContainer">
            <div id="primaryContent">
                <h2>Dashboard</h2>
                <div th:if="${error}" style="color: red;">
                    <p th:text="${error}"></p>
                </div>

                <h1>Witaj, <span th:text="${username}"></span>!</h1>

                <p>Dziś jest </p>
                <br/>
                <h3>Co chcesz dziś robić?</h3>
                <ul>
                    <li><a th:href="@{/posts}"> Przeglądaj posty</a></li>
                    <li>Moje posty</li>
                    <li><a th:href="@{/logout}">Wyloguj się</a></li>

                </ul>
            </div>
        </div>
        <div th:replace="~{fragments/fragments :: secondaryContent}">

        </div>
        <div class="clear"></div>
    </div>

<footer th:replace="~{fragments/fragments :: footer}"></footer>

</body>
</html>