<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/header :: head"></th:block>
<body>
<h1>Cybercentrum</h1>
<p>Witaj na forum</p>
<h3>Linki:</h3>
<ul>
    <li><a th:href="@{/}">Strona Główna</a></li>
    <li><a th:href="@{/login}">Logowanie</a></li>
    <li><a th:href="@{/register}">Rejestracja</a></li>
    <li><a th:href="@{/dbstatus}">Sprawdź połączenie z bazą</a></li>
    <!--<li><a th:href="@{/logout}">Wyloguj</a></li> -->
</ul>
<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>
