<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Szczegóły posta</title>
</head>
<body>
<h1 th:text="${post.title}"></h1>
<p th:text="${post.creationDate}"></p>
<p th:text="${post.content}"></p>
<form th:action="@{/posts/{id}/delete(id=${post.id})}" method="post" >
    <button type="submit">Usuń post</button>
</form>

<h2>Komentarze</h2>
<ul>
    <li th:each="comment : ${comments}">
        <p th:text="${comment.author.username}"></p>
        <p th:text="${comment.creationDate}"></p>
        <p th:text="${comment.content}"></p>
    </li>
</ul>
</body>
</html>
